/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PipeshubCore } from "../core.js";
import { appendForm } from "../lib/encodings.js";
import {
  getContentTypeFromFileName,
  readableStreamToArrayBuffer,
} from "../lib/files.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import { PipeshubError } from "../models/errors/pipeshub-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { isBlobLike } from "../types/blobs.js";
import { Result } from "../types/fp.js";
import { isReadableStream } from "../types/streams.js";

/**
 * Upload a new document
 *
 * @remarks
 * Upload a new document to PipesHub storage. Supports multiple storage backends including S3, Azure Blob, and local storage.<br><br>
 * <b>Overview:</b><br>
 * This endpoint handles document uploads with automatic processing, metadata extraction, and optional versioning. It's the primary endpoint for adding new files to PipesHub.<br><br>
 * <b>Upload Flow:</b><br>
 * <ol>
 * <li>Client sends file with metadata via multipart/form-data</li>
 * <li>Document metadata saved to database</li>
 * <li>Returns document object with storage URLs</li>
 * </ol>
 * <b>File Size Limits:</b><br>
 * <ul>
 * <li><b>Maximum:</b> 1GB (1,073,741,824 bytes)</li>
 * <li><b>Large file threshold:</b> 10MB (triggers direct upload flow)</li>
 * </ul>
 * <b>Supported File Types:</b><br>
 * <ul>
 * <li><b>Documents:</b> PDF, DOCX, DOC, XLSX, XLS, PPTX, PPT, TXT, MD, CSV</li>
 * <li><b>Images:</b> PNG, JPG, JPEG, GIF, WebP, SVG, BMP, TIFF</li>
 * <li><b>Videos:</b> MP4, AVI, MOV, MKV, WebM</li>
 * <li><b>Audio:</b> MP3, WAV, FLAC, AAC</li>
 * <li><b>Archives:</b> ZIP, RAR, 7Z, TAR, GZ</li>
 * </ul>
 * <b>Version Control:</b><br>
 * Set <code>isVersionedFile: "true"</code> to enable version tracking. Versioned documents maintain full history of all changes.<br><br>
 * <b>Response Headers:</b><br>
 * <ul>
 * <li><code>x-document-id</code>: Unique document identifier</li>
 * <li><code>x-document-name</code>: Document name as stored</li>
 * </ul>
 * <b>Storage Backends:</b><br>
 * Automatically routes to configured storage: Amazon S3, Azure Blob Storage, or Local filesystem.
 */
export function documentUploadUpload(
  client: PipeshubCore,
  request: operations.UploadDocumentRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.UploadDocumentResponse,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PipeshubCore,
  request: operations.UploadDocumentRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.UploadDocumentResponse,
      | PipeshubError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => z.parse(operations.UploadDocumentRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = new FormData();

  appendForm(body, "documentName", payload.documentName);
  if (isBlobLike(payload.file)) {
    appendForm(body, "file", payload.file);
  } else if (isReadableStream(payload.file.content)) {
    const buffer = await readableStreamToArrayBuffer(payload.file.content);
    const contentType = getContentTypeFromFileName(payload.file.fileName)
      || "application/octet-stream";
    const blob = new Blob([buffer], { type: contentType });
    appendForm(body, "file", blob, payload.file.fileName);
  } else {
    const contentType = getContentTypeFromFileName(payload.file.fileName)
      || "application/octet-stream";
    appendForm(
      body,
      "file",
      new Blob([payload.file.content], { type: contentType }),
      payload.file.fileName,
    );
  }
  appendForm(body, "isVersionedFile", payload.isVersionedFile);
  if (payload.alternateDocumentName !== undefined) {
    appendForm(body, "alternateDocumentName", payload.alternateDocumentName);
  }
  if (payload.customMetadata !== undefined) {
    appendForm(body, "customMetadata", payload.customMetadata);
  }
  if (payload.documentPath !== undefined) {
    appendForm(body, "documentPath", payload.documentPath);
  }
  if (payload.permissions !== undefined) {
    appendForm(body, "permissions", payload.permissions);
  }

  const path = pathToFunc("/document/upload")();

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "uploadDocument",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["308", "400", "401", "413", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.UploadDocumentResponse,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.UploadDocumentResponse$inboundSchema, {
      hdrs: true,
      key: "Result",
    }),
    M.fail(308),
    M.fail([400, 401, 413, "4XX"]),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
