/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PipeshubCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { PipeshubError } from "../models/errors/pipeshub-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Send a transactional email
 *
 * @remarks
 * Send a transactional email using the configured SMTP server with a pre-defined template.<br><br>
 *
 * <b>Overview:</b><br>
 * This is an internal service endpoint used by other PipesHub services to send transactional emails.
 * It uses Handlebars templates to generate HTML emails with dynamic content. All sent emails are
 * logged to the database for audit purposes.<br><br>
 *
 * <b>Authentication:</b><br>
 * Requires a scoped token with <code>mail:send</code> scope. This endpoint is not accessible
 * with regular user JWT tokens - it is designed for service-to-service communication only.<br><br>
 *
 * <b>Available Templates:</b><br>
 * <ul>
 * <li><b>loginWithOTP</b> - Send OTP code for user authentication. Requires: <code>name</code>, <code>otp</code></li>
 * <li><b>resetPassword</b> - Password reset link. Requires: <code>name</code>, <code>link</code></li>
 * <li><b>accountCreation</b> - Welcome email for new organizations. Requires: <code>orgName</code>, <code>link</code></li>
 * <li><b>appuserInvite</b> - Invitation to join organization. Requires: <code>invitee</code>, <code>orgName</code>, <code>link</code></li>
 * <li><b>suspiciousLoginAttempt</b> - Security alert. Requires: <code>link</code></li>
 * </ul>
 *
 * <b>Email Delivery Flow:</b><br>
 * <ol>
 * <li>Validate SMTP configuration exists (middleware check)</li>
 * <li>Validate scoped token has <code>mail:send</code> scope</li>
 * <li>Select and compile Handlebars template with provided data</li>
 * <li>Send email via nodemailer using SMTP configuration</li>
 * <li>Log email metadata to MongoDB (subject, from, to, cc, templateType)</li>
 * </ol>
 *
 * <b>Important Notes:</b><br>
 * <ul>
 * <li>The "From" address is always taken from SMTP config, not the request body</li>
 * <li>Failed email sends return 500 with error details</li>
 * <li>Template mismatches throw "Unknown Template" error</li>
 * <li>SMTP must be configured before using this endpoint</li>
 * </ul>
 *
 * <b>Related Endpoints:</b><br>
 * <ul>
 * <li><code>POST /configurationManager/smtpConfig</code> - Configure SMTP server</li>
 * <li><code>POST /mail/updateSmtpConfig</code> - Reload SMTP configuration at runtime</li>
 * </ul>
 */
export function emailOperationsSend(
  client: PipeshubCore,
  security: operations.SendEmailSecurity,
  request: models.MailBody,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.SendEmailResponse,
    | errors.BadRequestError
    | errors.NotFoundError
    | errors.SendEmailInternalServerError
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    security,
    request,
    options,
  ));
}

async function $do(
  client: PipeshubCore,
  security: operations.SendEmailSecurity,
  request: models.MailBody,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.SendEmailResponse,
      | errors.BadRequestError
      | errors.NotFoundError
      | errors.SendEmailInternalServerError
      | PipeshubError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => z.parse(models.MailBody$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/mail/emails/sendEmail")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const requestSecurity = resolveSecurity(
    [
      {
        fieldName: "Authorization",
        type: "http:bearer",
        value: security?.scopedToken,
      },
    ],
  );

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "sendEmail",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "404", "4XX", "500", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.SendEmailResponse,
    | errors.BadRequestError
    | errors.NotFoundError
    | errors.SendEmailInternalServerError
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.SendEmailResponse$inboundSchema),
    M.jsonErr(400, errors.BadRequestError$inboundSchema),
    M.jsonErr(404, errors.NotFoundError$inboundSchema),
    M.jsonErr(500, errors.SendEmailInternalServerError$inboundSchema),
    M.fail([401, "4XX"]),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
