/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PipeshubCore } from "../core.js";
import { encodeFormQuery } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { PipeshubError } from "../models/errors/pipeshub-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";
import * as types$ from "../types/primitives.js";

/**
 * Initiate OAuth authorization flow
 *
 * @remarks
 * OAuth 2.0 Authorization Endpoint (RFC 6749 Section 4.1.1).
 * <br><br>
 * Initiates the authorization code flow. Users are redirected here by OAuth clients
 * to authorize access to their account.
 * <br><br>
 * <b>Flow:</b><br>
 * 1. Client redirects user to this endpoint with required parameters<br>
 * 2. If not logged in, user is redirected to PipesHub login<br>
 * 3. User sees consent page with requested scopes<br>
 * 4. User grants or denies consent<br>
 * 5. User is redirected back to client with authorization code
 * <br><br>
 * <b>PKCE Support (RFC 7636):</b><br>
 * - Required for public clients (SPA, mobile apps)<br>
 * - Recommended for confidential clients<br>
 * - Use S256 method (SHA256 hash of code_verifier)
 * <br><br>
 * <b>Security:</b><br>
 * - Always use HTTPS in production<br>
 * - State parameter provides CSRF protection<br>
 * - Redirect URI must match registered URIs exactly
 */
export function oauthProviderAuthorize(
  client: PipeshubCore,
  request: operations.OauthAuthorizeRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.OauthAuthorizeResponse | undefined,
    | errors.OAuthErrorResponse
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PipeshubCore,
  request: operations.OauthAuthorizeRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.OauthAuthorizeResponse | undefined,
      | errors.OAuthErrorResponse
      | PipeshubError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => z.parse(operations.OauthAuthorizeRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const path = pathToFunc("/oauth/authorize")();

  const query = encodeFormQuery({
    "client_id": payload.client_id,
    "code_challenge": payload.code_challenge,
    "code_challenge_method": payload.code_challenge_method,
    "nonce": payload.nonce,
    "redirect_uri": payload.redirect_uri,
    "response_type": payload.response_type,
    "scope": payload.scope,
    "state": payload.state,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "oauthAuthorize",
    oAuth2Scopes: null,

    resolvedSecurity: null,

    securitySource: null,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.OauthAuthorizeResponse | undefined,
    | errors.OAuthErrorResponse
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.nil(
      302,
      types$.optional(operations.OauthAuthorizeResponse$inboundSchema),
      { hdrs: true },
    ),
    M.jsonErr(400, errors.OAuthErrorResponse$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
