/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PipeshubCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { PipeshubError } from "../models/errors/pipeshub-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Update organization authentication methods
 *
 * @remarks
 * Update the authentication methods configuration for an organization.
 * This allows admins to configure single or multi-factor authentication.
 * <br><br>
 * <b>Validation Rules:</b><br>
 * - Minimum 1 step, maximum 3 steps<br>
 * - Each step must have a unique order (1, 2, or 3)<br>
 * - No duplicate methods within the same step<br>
 * - No method can appear in multiple steps<br>
 * - Each step must have at least one allowed method
 * <br><br>
 * <b>Available Methods:</b><br>
 * - <code>password</code>: Email/password authentication<br>
 * - <code>otp</code>: One-time password via email<br>
 * - <code>google</code>: Google OAuth 2.0<br>
 * - <code>microsoft</code>: Microsoft OAuth 2.0<br>
 * - <code>azureAd</code>: Azure Active Directory<br>
 * - <code>samlSso</code>: SAML 2.0 Single Sign-On<br>
 * - <code>oauth</code>: Generic OAuth 2.0 provider
 * <br><br>
 * <b>Example - Single Factor (Password or Google):</b><br>
 * <pre>
 * {
 *   "authMethods": [
 *     { "order": 1, "allowedMethods": [{ "type": "password" }, { "type": "google" }] }
 *   ]
 * }
 * </pre>
 * <br>
 * <b>Example - Two Factor (Password + OTP):</b><br>
 * <pre>
 * {
 *   "authMethods": [
 *     { "order": 1, "allowedMethods": [{ "type": "password" }] },
 *     { "order": 2, "allowedMethods": [{ "type": "otp" }] }
 *   ]
 * }
 * </pre>
 * <br>
 * <b>Admin Access Required:</b> Only organization admins can update auth configuration.
 */
export function organizationAuthConfigurationUpdateMethod(
  client: PipeshubCore,
  request: models.AuthConfig,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.UpdateAuthMethodResponse,
    | errors.AuthError
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: PipeshubCore,
  request: models.AuthConfig,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.UpdateAuthMethodResponse,
      | errors.AuthError
      | PipeshubError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => z.parse(models.AuthConfig$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/orgAuthConfig/updateAuthMethod")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "updateAuthMethod",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "403", "404", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.UpdateAuthMethodResponse,
    | errors.AuthError
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.UpdateAuthMethodResponse$inboundSchema),
    M.jsonErr(400, errors.AuthError$inboundSchema),
    M.fail([401, 403, 404, "4XX"]),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
