/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { PipeshubCore } from "../core.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import { PipeshubError } from "../models/errors/pipeshub-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get queue statistics
 *
 * @remarks
 * Retrieve aggregate statistics about the crawling job queue.<br><br>
 *
 * <b>Overview:</b><br>
 * Returns real-time statistics about the BullMQ queue including job counts by state,
 * paused jobs, and repeatable job configurations. Useful for monitoring system health
 * and capacity planning.<br><br>
 *
 * <b>Statistics Included:</b><br>
 * <ul>
 * <li><b>waiting:</b> Jobs queued and waiting to be processed</li>
 * <li><b>active:</b> Jobs currently being processed by workers</li>
 * <li><b>completed:</b> Successfully completed jobs (limited retention)</li>
 * <li><b>failed:</b> Failed jobs (limited retention)</li>
 * <li><b>delayed:</b> Jobs scheduled for future execution</li>
 * <li><b>paused:</b> Manually paused jobs</li>
 * <li><b>repeatable:</b> Number of repeatable job configurations</li>
 * <li><b>total:</b> Sum of all job counts</li>
 * </ul>
 *
 * <b>Use Cases:</b><br>
 * <ul>
 * <li>Monitor queue health and throughput</li>
 * <li>Identify processing bottlenecks</li>
 * <li>Track failed job counts for alerting</li>
 * <li>Capacity planning based on queue depth</li>
 * </ul>
 */
export function queueManagementGetStats(
  client: PipeshubCore,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.GetQueueStatsResponse,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    options,
  ));
}

async function $do(
  client: PipeshubCore,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.GetQueueStatsResponse,
      | PipeshubError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const path = pathToFunc("/crawlingManager/stats")();

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.bearerAuth);
  const securityInput = secConfig == null ? {} : { bearerAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "getQueueStats",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.bearerAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["401", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    operations.GetQueueStatsResponse,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.GetQueueStatsResponse$inboundSchema),
    M.fail([401, "4XX"]),
    M.fail("5XX"),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
