/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { PipeshubCore } from "../core.js";
import { encodeFormQuery } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import { PipeshubError } from "../models/errors/pipeshub-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Check if user exists by email
 *
 * @remarks
 * Check if a user account exists with the given email address. Used for pre-validation in registration and invitation flows.<br><br>
 * <b>Overview:</b><br>
 * This internal service endpoint validates email existence before creating accounts or sending invitations. It helps prevent duplicate accounts and validates recovery email addresses.<br><br>
 * <b>Use Cases:</b><br>
 * <ul>
 * <li>Pre-flight check before user invitation</li>
 * <li>Email validation during registration</li>
 * <li>Account recovery flow validation</li>
 * <li>Duplicate prevention checks</li>
 * </ul>
 * <b>Security Model:</b><br>
 * <ul>
 * <li>Requires scoped token with USER_LOOKUP privilege</li>
 * <li>Not accessible with regular bearer tokens</li>
 * <li>Typically called from internal services only</li>
 * </ul>
 * <b>Response Behavior:</b><br>
 * <ul>
 * <li>Returns matching users (including soft-deleted for recovery)</li>
 * <li>Empty array if no match found</li>
 * <li>Does not expose whether email exists to prevent enumeration</li>
 * </ul>
 * <b>Note:</b> May return soft-deleted users to support account recovery workflows.
 */
export function usersCheckExistsByEmail(
  client: PipeshubCore,
  security: operations.CheckUserExistsByEmailSecurity,
  request: operations.CheckUserExistsByEmailRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.CheckUserExistsByEmailResponse,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    security,
    request,
    options,
  ));
}

async function $do(
  client: PipeshubCore,
  security: operations.CheckUserExistsByEmailSecurity,
  request: operations.CheckUserExistsByEmailRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.CheckUserExistsByEmailResponse,
      | PipeshubError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(operations.CheckUserExistsByEmailRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = null;

  const path = pathToFunc("/users/email/exists")();

  const query = encodeFormQuery({
    "email": payload.email,
    "includeDeleted": payload.includeDeleted,
  });

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const requestSecurity = resolveSecurity(
    [
      {
        fieldName: "Authorization",
        type: "http:bearer",
        value: security?.scopedToken,
      },
    ],
  );

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "checkUserExistsByEmail",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    operations.CheckUserExistsByEmailResponse,
    | PipeshubError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.CheckUserExistsByEmailResponse$inboundSchema),
    M.fail([400, 401, "4XX"]),
    M.fail("5XX"),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
